/* 左则菜单栏收缩 */
.leftMemu-collapse {
    background: url(../images/toggleCollapse.png) no-repeat 0 0;
    width: 9px;
    height: 50px;
    display: inline-block;
    position: fixed;
    left: 200px;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
    z-index: 99999;
}
/* 左则菜单栏 */
.layui-nav-tree{
    top:35px;
}

.leftMemu-collapse.leftMemu-show {
    background-position: right 0;
}

.search-menu-back{
    height:40px;
    width: 200px;
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    background-color: #393D49;
}

/*菜单搜索*/
.menu-search{
    height: 30px;
    padding-left: 12px;
    background-color: #424652;
    border: 1px solid #424652;
    color: #fff;
    font-size: 12px;
    z-index: 10000;
    width:190px;
    position: absolute;
    top:5px;
    left: 5px;
    border-radius:12px;
}
.menu-search:hover{
    border: 1px solid #009688!important;
}
.menu-search:focus{
    border: 1px solid #009688!important;
}

.menu-search-clear{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: absolute;
    top:8px;
    right:8px;
    z-index: 10001;
}

.menu-search-clear:hover{
    color: #009688;
    cursor: pointer;
}