<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>sso管理系统</title>
<link rel="stylesheet" th:href="@{layui-v2.2.45/css/layui.css}" media="all">
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" th:href="@{style/css/common.css}" media="all">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		
		<div class="layui-header layui-bg-cyan"><!-- layui-bg-cyan 藏青色 导航栏 -->
			<a href="http://localhost/main" class="layui-hide-xs">
				<div class="layui-logo"><b>layui sso管理系统</b></div>
			</a>
    		<a href="javascript:;" class="layui-hide-xs">
    			<div class="switchMenu"><i class="fa fa-outdent"></i></div>
    		</a>
			
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul id="topMenu" class="layui-nav layui-layout-left" lay-filter="navTopLeft">
<!-- 				<li class="layui-nav-item"><a href="javascript:;">控制台</a></li> -->
			</ul>
			<ul class="layui-nav layui-layout-right" lay-filter="navTopRight">
				<li class="layui-nav-item">
					<a href="javascript:;"> 
						<img th:src="@{layui-v2.2.45/images/face/0.gif}" class="layui-nav-img"><span th:text="${userName}"></span>
					</a>
					<dl class="layui-nav-child">
						<dd id="navTopRight_1">
							<a href="javascript:;">基本资料</a>
						</dd>
						<dd id="navTopRight_pwd">
							<a id="updatePwd" href="javascript:;"><i class="fa fa-lock"></i>修改密码</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item" id="navTopRight_out">
					<a href="javascript:;"><i class="fa fa-sign-out"></i>退出</a>
				</li>
			</ul>
		</div>
		
		<!-- 左边菜单栏 -->
		<div class="layui-side layui-bg-black" id="leftMemu-side">
			<div class="layui-side-scroll" id="leftMemu-navbar-side">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			</div>
		</div>

		 <!-- 右边内容区域 -->
		  <div class="layui-body layui-form" id="admin-body">
		  	<div class="layui-tab layui-tab-card myTab" lay-filter="myTab" lay-allowclose="true">
				<ul class="layui-tab-title" id="myTabMenu">
					<li class="layui-this" lay-id="1">
						<i class="layui-icon">&#xe68e;</i>
						<cite>首页</cite>
						<p class="layui-tab-close" style="display: none;"></p>
					</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show" lay-id="1">
						<iframe src="http://localhost/index"></iframe>
					</div>
				</div>
			</div>
		  </div>

		<!-- 底部固定区域 -->
		<div class="layui-footer" id="admin-footer">
			© layui.com - 底部固定区域
		</div>
	</div>
	
	<!-- 修改密码 -->
	<div id="passwordLayer" style="display: none;">
		<form class="layui-form">
			<div class="layui-form-item">
				<input class="layui-input" name="odlPwd" placeholder="原密码" lay-verify="required" autocomplete="off" type="password">
			</div>
			<div class="layui-form-item">
				<input class="layui-input" name="newPWd" placeholder="新密码" lay-verify="required" autocomplete="off" type="password">
			</div>
			<div class="layui-form-item">
				<input class="layui-input" name="checkPwd" placeholder="确认密码" lay-verify="required" autocomplete="off" type="password">
			</div>
		</form>
	</div>
	<script type="text/javascript" th:src="@{layui-v2.2.45/layui.js}"></script>
	<script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>